/*
|--------------------------------------------
| Misc
|--------------------------------------------
*/

.row {
	max-width: 1140px;
	// margin: 0;

	@include breakpoint(sm) {
		max-width: 100%;
	}
	@include breakpoint(md) {
		max-width: 100%;
	}
	@include breakpoint(lg) {
		max-width: 100%;
	}
	@include breakpoint(xl) {
		max-width: 1440px;
	}
}


h3.mb {
	margin-bottom: 25px;
}


.form-control {
	width: 100%;
	padding: 10px;
	border: 1px solid $silver !important;
	font-size: 0.85;
	margin-bottom: 5px;
	@include border-radius($global-radius);
	&:focus {
		border: 1px solid #c5c5c5;
		outline: none;
	}

	&.inline {
		width: 50px;
		display: inline;
		margin-right: 10px;
	}
}

select.form-control {
	padding: 5px 10px;
}

.form.extra {
	label {
		font-size: 1.15em;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.form-control {
		font-size: 1.15em;
		padding: 20px 10px;
		@include border-radius(3px);
	}
}

.btn {
	font-size: 0.85em !important;
	font-weight: 700 !important;
	color: white;
	border-width: 1px !important;
	border-style: solid !important;
	text-decoration: none;
	outline: none !important;
	@include transition(all .1s ease);
	@include button($button-tny, #aaa, $global-radius, false, false, false);
	&.primary {
		background: $primary-color;
		border-color: darken($primary-color, 10);
	}
	&.secondary {
		background: $secondary-color;
		border-color: darken($secondary-color, 10);
	}
	&.success {
		background: $success-color;
		border-color: darken($success-color, 10);
	}
	&.big {
		padding: 1em 3em;
	}
	&.medium {
		padding: 0.5em 1.25em;
	}
	&.disabled {
		cursor: not-allowed;
		background-color: #ccc;
		border-color: #bbb;
		&:active {
			border-width: 1px;
		}
	}
	&.full {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	&.no-radius {
		@include border-radius(0);
	}
}

.panel {
	background: white;
	border-color: $silver;
	padding: 1.5em;
	@include border-radius(2px);

	&.extra {
		padding: 3em;
		@include breakpoint(sm) {
			padding: 1.5em;
		}
	}
}

label {
	font-weight: 700;
	margin: 10px 0;
	margin-top: 20px;
}

hr {
	margin-top: 25px;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: 700 !important;
}

.text-primary {
	color: $primary-color !important;
}

.text-alert {
	font-weight: 700;
	color: $alert-color !important;
	li {
		color: $alert-color !important;
	}
}

.text-info {
	font-weight: 700;
	color: $info-color !important;
	li {
		color: $info-color !important;
	}
}

.text-success {
	font-weight: 700;
	color: $success-color !important;
	li {
		color: $success-color !important;
	}
}

.smaller-fs {
	font-size: 0.85em;
}

.thin-header {
	font-weight: 100;
}

.light-header {
	font-weight: 300;
}

.normal-header {
	font-weight: 500;
}

.bold-header {
	font-weight: 700;
}

.super-header {
	text-transform: uppercase;
	letter-spacing: 10px;
}




/**
*
* Notifier
*
**/
.notification {
	width: 300px;
	height: 50px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 5px 15px;
	padding-right: 35px;
	background: white;
	border: 1px solid $silver;
	margin-top: 70px;
	z-index: 9;
	font-size: 0.7em;
	line-height: 1.5;
	overflow: hidden;
	@include border-radius(100px);
	@include box-shadow(0 0 15px rgba(0, 0, 0, 0.12));
	h6 {
		font-weight: 400;
		line-height: 1em !important;
		color: $primary-color;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 265px;
		small {
			font-size: 70%;
			font-weight: 500;
			color: #777;
		}
	}
	.closer {
		position: absolute;
		top: 16.5px;
		right: 6px;
		font-size: 0.75em;
		color: #888;
		cursor: pointer;
		&:hover {
			color: #333;
		}
	}
}

.rep-count {
	font-size: 80%;
}

.notification-entry {
	width: 100%;
	border-bottom: 1px solid $silver;
	margin-bottom: 10px;
	padding: 0;
	h5 {
		margin: 0;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 5px;
	}
	.inline-list {
		li > a {
			color: #999;
			font-weight: 500;
			font-size: 0.85em;
			&:hover {
				text-decoration: underline;
				color: #777;
			}
		}
	}
}

.header-rep-count {
	background: #8194B6;
	border: 1px solid darken(#8194B6, 5);
	color: white;
	font-weight: 700;
	font-size: 0.75em;
	text-align: center;
	padding: 1px 3px;
	@include border-radius(5px);
}

.orange-text {
	color: #fb800e;
	font-weight: 700;
}




/**
*
* Article / Invite
*
**/
article.invite {
	width: 100%;
	padding-bottom: 15px;

	header {
		width: 100%;
		height: 50px;
		display: block;
		.img {
			width: 40px;
			height: 40px;
			background: #ccc;
			float: left;
			margin-right: 10px;
			@include border-radius($global-radius);
		}
		.user-meta {
			h6 {
				font-weight: 500;
				margin-bottom: 0;
				font-size: 0.85em;
			}
			p {
				font-size: 0.8em;
				color: #555;
			}
		}
	}

	section {
		margin: 0;
		padding: 0;

		h3 {
			font-weight: 700;
			position: relative;
			padding-left: 50px;
			padding-bottom: 5px;
			margin-bottom: 15px;

			.voters	{
				position: absolute;
				top: -5px;
				left: 0;
				height: 100%;
				width: 45px;
				color: #ccc;
				font-size: 0.85em;
				.arrows {
					float: left;
					width: 15px;
					overflow: hidden;
					margin-right: 5px;

					i {
						cursor: pointer;
					}

					#upvoter {
						&:hover {
							color: lighten($secondary-color, 15);
						}

						i.activated {
							color: lighten($secondary-color, 15) !important;
						}
					}

					#downvoter {
						&:hover {
							color: lighten($primary-color, 15);
						}

						i.activated {
							color: lighten($primary-color, 15) !important;
						}
					}
				}
				.count {
					font-size: 0.55em;
					line-height: 45px;
				}
			}
		}

		.panel {
			padding: 10px;
			background: #f7f7f7;
		}

		p {
			font-size: 1.15em;
			font-weight: 400;
		}
	}

	footer {
		width: 100%;
		margin-top: 25px;

		a {
			font-size: 0.85em;
			color: #777;
			margin-right: 15px;

			&:hover {
				text-decoration: underline;
			}

			&:nth-child(1), &:nth-child(2) {
				cursor: default;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	hr {
		width: 35px;
		margin: 25px 0;
		margin-bottom: 15px;
	}
}


/**
*
* Comments
*
**/
.comments-header {
	small {
		font-size: 60%;
		a {
			color: #ccc;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-left: 10px;

			&:hover {
				color: $primary-color;
			}

			&.active {
				color: $primary-color;
			}
		}
	}
}

#progresser {
	display: none;
}

.comments {
	width: 100%;

	.comment-box {
		width: 100%;
		max-width: 350px;
		margin-top: -15px;

		p {
			margin: 0;
			font-size: 0.9em;
		}

		textarea {
			height: 75px;
			font-size: 0.85em;
		}

		.btn {
			margin-right: 10px;
		}
	}

	article.comment {
		width: 100%;
		padding: 10px;
		padding-right: 0;
		border: 1px solid $silver;
		border-bottom: none;
		position: relative;
		overflow: hidden;

		.collapser {
			position: absolute;
			height: 24px;
			top: 19px;
			left: 10px;
			font-size: 0.85em;
			color: #777;
			cursor: pointer;
			z-index: 5;
		}

		&.collapsed {
			height: 20px !important;
			padding: 0;
			.collapser {
				top: -3px;
				left: 5px;
			}
			header, section, footer {
				display: none;
			}
			.collapsed-content {
				display: block;
			}
		}

		.collapsed-content {
			display: none;
			line-height: 16px;
			padding-left: 20px;
			small {
				font-size: 85%;
				color: #ccc;
				letter-spacing: 1px;
				margin-left: 10px;
				a {
					font-weight: 700;
				}
			}
		}

		&:last-of-type {
			border-bottom: 1px solid $silver;
		}

		&.no-pad-bot {
			padding-bottom: 0;
		}

		.children {
			padding-left: 15px;
		}

		&.parent {
			background: white;
			border-bottom: none;
			&:last-of-type {
				border-bottom: 1px solid $silver;
			}
		}

		&.child {
			background: #f5f5f5;
			border-right: none;
			border-bottom: none;
			&:first-of-type {
				margin-top: 10px;
			}
			&:last-of-type {
				padding-bottom: 0;
			}
			.parent {
				border-right: none;
				border-bottom: none;
				&:first-of-type {
					margin-top: 10px;
				}
			}
		}

		header {
			width: 100%;
			height: 40px;
			display: block;
			position: relative;
			padding-left: 45px;
			margin-bottom: 5px;
			.voters	{
				position: absolute;
				top: -5px;
				left: 20px;
				height: 100%;
				width: 25px;
				color: #ccc;
				font-size: 1.25em;
				.arrows {
					float: left;
					width: 15px;
					overflow: hidden;
					margin-right: 5px;

					i {
						cursor: pointer;
					}

					#comment-upvoter {
						&:hover {
							color: lighten($secondary-color, 15);
						}

						i.activated {
							color: lighten($secondary-color, 15) !important;
						}
					}

					#comment-downvoter {
						&:hover {
							color: lighten($primary-color, 15);
						}

						i.activated {
							color: lighten($primary-color, 15) !important;
						}
					}
				}
				.count {
					font-size: 0.75em;
					line-height: 40px;
				}
			}
			.img {
				width: 30px;
				height: 30px;
				background: #ccc;
				float: left;
				margin-right: 10px;
				@include border-radius($global-radius);
			}
			.user-meta {
				h6 {
					font-weight: 500;
					margin-bottom: 0;
					font-size: 0.8em;
				}
				p {
					font-size: 0.75em;
					color: #555;
				}
			}
		}

		section {
			margin: 0;
			padding: 0;
			padding-left: 20px;
			margin-bottom: 20px;
		}

		footer {
			width: 100%;
			padding-left: 20px;
			margin-top: -20px;

			a {
				font-size: 0.75em;
				color: #888;
				margin-right: 5px;
				font-weight: 500;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.comment-box {
			display: none;
		}

		hr {
			width: 35px;
			margin: 25px 0;
			margin-bottom: 15px;
		}
	}

}


/**
*
* Markdown markup
*
**/
.markdown-text {
	h1 {
		font-size: 1.5em;
		font-weight: 700;
	}
	h2 {
		font-size: 1.25em;
		font-weight: 700;
	}
	h3, h4, h5, h6 {
		font-size: 1em;
		font-weight: 700;
		padding-left: 0 !important;
		margin-bottom: 0.625rem !important;
	}
	p, ul {
		font-size: 0.9em !important;
	}
	img {
		padding-bottom: 5px;
	}
}


/**
*
* Emoji intellisense
*
**/
.relative {
	position: relative;
}

.emoji-intellisense {
	position: absolute;
	left: 0;
	bottom: 0;
	background: white;
	border: 1px solid $silver;
	width: 100%;
	height: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	opacity: 0;
	overflow: hidden;
	padding: 10px;
	padding-bottom: 5px;
	text-align: center;
	line-height: 37.5px;
	font-size: 0.9em;
	@include transition(all .2s ease);
	@include border-radius($global-radius);

	&.open {
		opacity: 1;
		bottom: 70px;
		height: auto;
	}

	.emoji {
		width: auto;
		max-width: 60%;
		position: relative;
		background: $primary-color;
		border: 1px solid darken($primary-color, 10);
		padding: 3px 5px;
		color: white;
		font-weight: 500;
		font-size: 0.85em;
		line-height: 0;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
		@include border-radius(5px);
		img {
			display: inline;
		}
		&:first-of-type {
			border: 2px solid lighten($secondary-color, 10);
		}
	}
}




/**
*
* INVITE FORM
*
**/
.invite-form {
	input.big-inline-input {
		display: inline;
		border: none;
		font-size: inherit;
		width: 100%;
		height: auto;
		border-bottom: 1px dotted lighten($primary-color, 5);
		&:nth-child(1) {
			width: 45px;
		}
		&:nth-child(2) {
			width: auto;
		}
	}
	select {
		display: inline;
		border: none;
		font-size: inherit;
		width: auto;
		height: auto;
		border-bottom: 1px dotted lighten($primary-color, 5);
		padding-right: 25px;
		outline: none !important;
		&.disabled {
			background: white;
			color: #c5c5c5;
		}
	}
	.more-details {
		&.disabled {
			cursor: not-allowed;
			input, textarea {
				pointer-events: none;
			}
		}
	}
	#inviteTitle {
		border: none;
		font-size: inherit;
		height: auto;
		padding: 0;
		@include box-shadow(none);
	}
	textarea {
		width: 100%;
		height: 200px;
		border: none;
		font-size: 1.35em;
		padding: 0;
		margin-top: 5px;
		@include box-shadow(none);
	}
}