/*
|--------------------------------------------
| Misc
|--------------------------------------------
*/
h3.mb {
	margin-bottom: 25px;
}


.form-control {
	width: 100%;
	padding: 10px;
	border: 1px solid $silver;
	font-size: 0.85;
	margin-bottom: 5px;
	@include border-radius($global-radius);
	&:focus {
		border: 1px solid #c5c5c5;
		outline: none;
	}
}

select.form-control {
	padding: 5px 10px;
}

.form.extra {
	label {
		font-size: 1.15em;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.form-control {
		font-size: 1.15em;
		padding: 20px 10px;
		@include border-radius(3px);
	}
}

.btn {
	font-size: 0.85em !important;
	font-weight: 700 !important;
	color: white;
	border-width: 1px !important;
	border-style: solid !important;
	text-decoration: none;
	@include transition(all .1s ease);
	@include button($button-tny, #aaa, $global-radius, false, false, false);
	&.primary {
		background: $primary-color;
		border-color: darken($primary-color, 10);
	}
	&.secondary {
		background: $secondary-color;
		border-color: darken($secondary-color, 10);
	}
	&.success {
		background: $success-color;
		border-color: darken($success-color, 10);
	}
	&.big {
		padding: 1em 3em;
	}
	&.disabled {
		cursor: not-allowed;
		background-color: #ccc;
		border-color: #bbb;
		&:active {
			border-width: 1px;
		}
	}
	&.full {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	&.no-radius {
		@include border-radius(0);
	}
}

.panel {
	background: white;
	border-color: $silver;
	padding: 1.5em;
	@include border-radius(2px);

	&.extra {
		padding: 3em;
		@include breakpoint(sm) {
			padding: 1.5em;
		}
	}
}

label {
	font-weight: 700;
	margin: 10px 0;
	margin-top: 20px;
}

hr {
	margin-top: 25px;
}

.pointer {
	cursor: pointer;
}

.text-alert {
	font-weight: 700;
	color: $alert-color !important;
	li {
		color: $alert-color !important;
	}
}

.text-info {
	font-weight: 700;
	color: $info-color !important;
	li {
		color: $info-color !important;
	}
}

.text-success {
	font-weight: 700;
	color: $success-color !important;
	li {
		color: $success-color !important;
	}
}

.smaller-fs {
	font-size: 0.85em;
}

.thin-header {
	font-weight: 100;
}

.light-header {
	font-weight: 300;
}

.normal-header {
	font-weight: 500;
}

.bold-header {
	font-weight: 700;
}

.super-header {
	text-transform: uppercase;
	letter-spacing: 10px;
}




/**
*
* Notifier
*
**/
.notification {
	width: auto;
	height: 50px;
	min-width: 150px;
	max-width: 320px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 5px 15px;
	padding-right: 35px;
	background: white;
	border: 1px solid $silver;
	margin-top: 70px;
	z-index: 9;
	font-size: 0.7em;
	line-height: 1.5;
	overflow: hidden;
	@include border-radius(100px);
	@include box-shadow(0 0 15px rgba(0, 0, 0, 0.12));
	h6 {
		font-weight: 400;
		line-height: 1em !important;
		color: #222;
		small {
			font-size: 70%;
			font-weight: 500;
			color: #777;
		}
	}
	.closer {
		position: absolute;
		top: 16.5px;
		right: 6px;
		font-size: 0.75em;
		color: #888;
		cursor: pointer;
		&:hover {
			color: #333;
		}
	}
}